<h3>Sign up</h3>

<hr class="my-3">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, {required: true, autofocus: true, class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label 'Vorname' %><br/>
      <%= f.text_field :first_name, {required: true, autocomplete: 'off', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label 'Nachname' %><br/>
      <%= f.text_field :last_name, {required: true, autocomplete: 'off', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label 'Fachbereich' %><br/>
      <%= f.select :major_id, Major.all.map { |major| [major.name, major.id] }, {}, {required: true, class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, {autocomplete: 'off', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, {autocomplete: 'off', class: 'form-control'} %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", {class:'btn btn-primary'} %>
    </div>
<% end %>

<hr class="my-3">

<%= render "devise/shared/links" %>
