<h1>Hallo, <%= @user.name %></h1>

<hr class="my-3">

<% if @user.complete %>
    <p>
      Vielen Dank für Ihren Upload!
      <br>
      Sie erhalten eine Upload-Bestätigung per E-Mail!
    </p>
<% else %>
    
<p>
  Mittels "Drag & Drop" können Sie Ihr Bewerbungsprojekt und die dazugehörigen Unterlagen hochladen.
</p>

<% if @user.major %>
    <h3>Fachbereich <span class="text-muted"><%= @user.major.name %></span></h3>
<% end %>

<div id="files">
  <%= render partial: 'assets/index', locals: {user: @user, assets: @user.assets} %>
</div>

<h3>Dateien hochladen</h3>

<hr class="my-3">

<%= render partial: "majors/#{@user.major.name.downcase}" %>

<hr class="my-4">

<div class="row">
  <div class="col-sm-12">
    <%= form_for @user do |f| %>
        <%= f.hidden_field :complete, value: true %>
        <%= f.submit 'Bewerbung vollständig', {class: 'btn btn-primary btn-block btn-lg'} %>
    <% end %>
  </div>
</div>

<% end %>
